---- BASICS ----*/

* {
	padding:0px;
	margin:0px;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:200;
	font-size:1.8em;
	
}

/*---- BOOTSTRAP NONSENSE ---- */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding:0;
}


/*----- NAV ----*/

header {
	text-align:center;

}

header h1 {
	font-family: 'Cedarville Cursive', cursive;
	margin-top:2em;
	color:#FFB190;
}

header h1:hover {
	opacity:0.5;
	transition:1s;
}

a, a:hover {
	text-decoration:none;
	color:inherit;
}

nav ul {
	overflow:hidden;
	-webkit-transition:max-height 1s;
	-ms-transition:max-height 1s;
	-moz-transition:max-height 1s;
	-o-transition:max-height 1s;
	transition: max-height 1s;
}

nav ul li {
	font-family: 'Julius Sans One', sans-serif;
	display:inline-block;
	padding: 1em;
	box-sizing: border-box;

}

nav ul li:hover {
	background-color:#F9F9F9;
	color:#FF7070;
	transition:1s;
}

.handle{
	font-size: 1.5em;
    color: grey;
    text-align:left;
    padding:10px 10px;
    cursor:pointer;
    display:none;
    margin-left:0.7em;
}



@media screen and (max-width:600px) {
	nav ul {
		max-height:0px;
	}

	.showing {

		max-height:15em;
		display:block;
	}

	nav ul li {
		width:100%;
		padding:15px;
	}


	.handle {
		display:block;
	}
}




/* ------ HEADER IMAGE ------- */

.intro {
	text-align:center;
	position:relative;
	width:100%;
}

.intro img {
	width:100%;
	

}


.intro h2 {
	position:absolute;
	top: 40%;
	left: 54%;
	width:40%;
	font-size:3em;
	font-family: 'Julius Sans One', sans-serif;
	color:white;
	text-shadow: 1px 1px 5px grey;
	
}

.intro h2:hover {
	opacity:0.3;
	transition:1s;
}


/*---- HEADER RESPONSIVENESS ----*/

@media screen and (max-width:630px) {
	.intro h2 {
		font-size:2.5em;
	}
}

@media screen and (max-width:516px) {
	.intro h2 {
		font-size:2em;
	}
}

@media screen and (max-width:415px) {
	.intro h2 {
		font-size:1.5em;
	}
}

/*---- 3 IMAGES ----*/


.img-bar {
	margin-top:5em;
	margin-bottom:5em;

}

.image-container {
	width:100%;
	margin-bottom:0.5em;
	position:relative;	
	text-align: center;
	margin:0.5em;
}

.three-images {
	width:100%;

}


.cover p {
	margin:0;
	font-size:2em;
}

.cover {
	position:absolute;
	color:white;
	width:100%;
	top:45%;
}

.about-cover {
	background-color:#FF9D9D;
}


.music-cover {
	background-color:#FFB190;
}

.blog-cover {
	background-color:#FFA565;
}



@media screen and (min-width:570px) {
	.image-container {
		/*text-align:center;*/
		display:inline-block;
		width:30%;
		margin-bottom:4em;


	}

	.img-bar {
		text-align:center;
	}


	.cover {
		top:40%;
	}
	
}


/*---- TEXT BLURB ----*/


.blurb {
	width:33%;
	display:inline-block;

}

.text-blurb {
	margin-top:1em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:3em;
	
}


.text-blurb p {
	text-align:center;
}

.text-blurb h2 {
	font-family: 'Cedarville Cursive', cursive;
	text-align:center;
}

.horizontal-lines {
	background: url(http://www.commentnation.com/backgrounds/images/peach_and_white_diagonal_stripes_background_seamless.gif) ;
	width:100%;
	height:500px;
	clear:both;
}

@media and screen 


/*A color to save #A07C7C