/*---- BASICS ----*/

* {
	padding:0px;
	margin:0px;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:200;
	font-size:1.8em;
	
}

/*---- BOOTSTRAP NONSENSE ---- */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding:0;
}


/*----- NAV ----*/

header {
	text-align:center;

}

#main-header h1 {
	font-family: 'Cedarville Cursive', cursive;
	margin-top:2em;
	color:#FFB190;
}

#main-header h1:hover {
	opacity:0.5;
	transition:1s;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration:none;
	color:inherit;
}

nav ul {
	overflow:hidden;
	-webkit-transition:max-height 1s;
	-ms-transition:max-height 1s;
	-moz-transition:max-height 1s;
	-o-transition:max-height 1s;
	transition: max-height 1s;
}

nav ul li {
	font-family: 'Julius Sans One', sans-serif;
	display:inline-block;
	padding: 1em;
	box-sizing: border-box;

}

nav ul li:hover {
	background-color:#F9F9F9;
	color:#FF7070;
	transition:1s;
}

.handle{
	font-size: 1.5em;
    color: grey;
    text-align:left;
    padding:10px 10px;
    cursor:pointer;
    display:none;
    margin-left:0.7em;
}



@media screen and (max-width:600px) {
	nav ul {
		max-height:0px;
	}

	.showing {

		max-height:15em;
		display:block;
	}

	nav ul li {
		width:100%;
		padding:15px;
	}


	.handle {
		display:block;
	}
}


/*---- FOOTER ----*/


.footer-container {
	background-color: #FFB190;;
	width:100%;
	color:white;
	margin-top:5em;
	text-align: center;
	padding-bottom:1em;
}

.footer-container h2 {
	font-family: 'Cedarville Cursive', cursive;
}

.footer-container img {
	width:20%;
	opacity:0.4;
}

.social-media-icons {
	letter-spacing: 10px
}

.social-media-icons a:hover {
	color:#ccc;
}


/* ------ HEADER IMAGE ------- */

.intro {
	text-align:center;
	position:relative;
	width:100%;
}

.intro img {
	width:100%;
	

}


.intro h2 {
	position:absolute;
	top: 40%;
	left: 54%;
	width:40%;
	font-size:3em;
	font-family: 'Julius Sans One', sans-serif;
	color:white;
	text-shadow: 1px 1px 5px grey;
	
}




/*---- HEADER RESPONSIVENESS ----*/

@media screen and (max-width:630px) {
	.intro h2 {
		font-size:2.5em;
	}
}

@media screen and (max-width:516px) {
	.intro h2 {
		font-size:2em;
	}
}

@media screen and (max-width:415px) {
	.intro h2 {
		font-size:1.5em;
	}
}

/*---- 3 IMAGES ----*/


.img-bar {
	margin-top:5em;
	margin-bottom:5em;

}

.image-container {
	width:100%;
	margin-bottom:0.5em;
	position:relative;	
	text-align: center;
	margin:0.5em;
	margin-left:0;
}

.three-images {
	width:100%;


}


.cover p {
	margin:0;
	font-size:2em;
}

.cover {
	position:absolute;
	color:white;
	width:100%;
	top:45%;
}

.about-cover {
	background-color:#FF9D9D;
}


.music-cover {
	background-color:#FFB190;
}

.blog-cover {
	background-color:#FFA565;
}

.img-link:hover {
	opacity: 0.5;
	transition:1s;
}


@media screen and (min-width:620px) {
	.image-container {
		/*text-align:center;*/
		display:inline-block;
		width:30%;
		margin-bottom:4em;


	}

	.img-bar {
		text-align:center;
	}


	.cover {
		top:40%;
	}
	
}


/*---- TEXT BLURB ----*/

.cute-intro {
	text-align: center;
}


.blurb {

	display:inline-block;


}

.blurb-one, .blurb-three {
	width:24%;
}

.blurb-two {
	width:50%;
}

.text-blurb {
	position:relative;
	margin-top:1em;
	padding-left:3em;
	padding-right:3em;
	height:500px;
	display:table-cell;
	vertical-align:middle;
	
	
}


.text-blurb p {
	text-align:center;



}

.text-blurb h2 {
	font-family: 'Cedarville Cursive', cursive;
	text-align:center;

}

.text-blurb p, .text-blurb h2 {
	bottom:50px;
}


.horizontal-lines {
	background: url(http://www.commentnation.com/backgrounds/images/peach_and_white_diagonal_stripes_background_seamless.gif) ;
	width:100%;
	height:500px;
	clear:both;
}

@media screen and (max-width:805px) {
	/*.horizontal-lines {
		display:none;
	}*/

	.horizontal-lines {
		height:50px;
	}

	.blurb, .text-blurb {
		width:100%;
	}
} 

/*---- BLOG POSTS BLURB ----*/

.blog-posts-container {
	margin-top:5em;
	background-color:rgba(255, 157, 157, 0.48);
	padding-bottom:2em;
	
}

.blog-posts-heading {
	text-align:center;
	padding-top:1em;

}

.blog-posts-heading h2 {
	font-weight: 500;
}



.blog-posts-heading h2:first-child {
	font-family: 'Cedarville Cursive', cursive;
	line-height: 0em;
}

.blog-posts-heading h2:nth-child(2) {
	font-family: 'Julius Sans One', sans-serif;
}


.actual-post-container {
	text-align: center;
	padding:1em;
}

.post {
	background-color:white;
	border:1px solid grey;
	width:25%;
	display:inline-block;
	padding:2em;
	margin:2em;
	border-radius:10px;

}

.post h3 {
	font-family: 'Julius Sans One', sans-serif;
}

.post a {
	text-decoration:underline;
}

.post a:hover {
	color:#E2E2E2;
	text-decoration: none;
	transition:0.3s;

}

@media screen and (max-width:1036px) {
	.post {
		display:block;
		margin:0 auto;
		width:50%;
		margin-bottom:1em;

	}


}

@media screen and (max-width:700px) {
	.post {
		width:90%;
	}

}


/*---- CV SECTION ----
*/

.cv-container {
	background-color:white;
	border:1px solid #FFA565;
	border-radius:10px;
	padding:1em;
	text-align: center;
	margin:0 auto;
	display: block;


}

.cv-container:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.cv-container div {
	width:50%;
	float: left;
	display: block;
}



.white-box {
	
	background: url(http://www.commentnation.com/backgrounds/images/peach_and_white_diagonal_stripes_background_seamless.gif);
	margin-top: 5em;
	width:100%;
    padding:3em;
	
}

.resume-pic {
	background-color: pink;
	padding:1em;
	border-radius: 10px;
}


.cv h2 {
	margin-top:3em;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 2em;
	text-align: center;
	border-bottom:2px dashed pink;
	padding-bottom:0.5em;
	margin-right:1.5em;
	padding-top:0.5em;
	

}

@media screen and (max-width:826px) {
	.cv-container div {
		width:100%;
		display:block;
	}

	.cv-container img {
	width: 50%;

}

	.cv h2 {
		margin-right:0;
		margin-top:1em;
		margin-bottom:0.5em;
	}
}

@media screen and (max-width:530px) {
		.cv-container img {
	width: 100%;
}

	.white-box {
		padding:1em;
	}

	.cv h2 {
		margin-right:0;
	}
}



/*---- LET'S GET IN CONTACT ----*/

.contact-container {
	margin-top:5em;
	margin-left:1em;
	margin-right:1em;
	margin-bottom:1em;
	padding:1em;
	border:2px dashed pink;
	/*text-align: center;*/
}

.contact-inner-container {
	display:inline;
	text-align: center;
}



form {
	background-color: #FFF2F2;
	border-radius: 10px;
	padding-bottom:0.5em;
	padding-top:0.5em;
	width:50%;
	margin:0 auto;

}

@media screen and (max-width:930px) {
	form {
		width:80%;
	}

	form input[type=text], form input[type=email], form textarea {
		width:75%;
	}
	
}


@media screen and (max-width:550px) {
	form {
		width:100%;
	}

	
}


input[type=text], input[type=email], textarea {
  padding:0.3em;
  border-radius:5px;
  border: 1px solid #ccc;
  width:45%;
 
}

/*@media screen and (max-width:1075px) {
	input[type=text], input[type=email], textarea {
		width:50%;
	}
}
*/



textarea {
	height:200px;

}

input[type=submit] {
	width:4em;
	height:2em;
	border-radius: 5px;
	background-color: #FF7878;
	border:1px solid white;
	color:white;
}

input[type=submit]:hover {
	background-color:#FFB190;
	transition:0.3s;
}

/*A color to save #A07C7C #B38EAD