/*---- HEADER ---- */

.music-header {
	text-align: center;
	margin-top:5em;
}

.music-header h1:first-child {
	font-family: 'Cedarville Cursive', cursive;
	color:#BDBDBD;

}

.music-header h1:last-child {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 15vw;
}

/*---- DOTTED VERTICAL LINE ----*/

.dotted-vertical-line {
	text-align: center;

}

.dotted-vertical-line h4 {
	margin:0;
}

.dotted-vertical-line h2 {
	font-family: 'Julius Sans One', sans-serif;
}

/*---- MUSIC LIST ----*/

.music-list {
	margin-left:1em;
}

.music-list img {
	width:25%;
}



.music-list ul {
	margin-top: 3em;
}

.music-list ul li:first-child {
	border-top:0.5px dotted black;

}

.music-list ul li {
	border-bottom:0.5px dotted black;
	list-style-type: none;
	
}

.music-list ul li p {
	padding:0.3em;
	margin-bottom:0;
}


#pause {
	display:none;
}

.music-list .fa {
	font-size: 0.8em;
	display:inline;
	color:#757575;
	padding-right: 1em;

}

.music-list .fa:hover {
	color:#D4D4D4;
	cursor:pointer;
}

.right{
	float:right;
	padding-right:1em;
	display:inline;
}

.right:hover {
	color:#D4D4D4;
	cursor:pointer;
}

.left {
	float:left;
	display:inline;
}

